@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

.app {
  background-color: #eeeeee;
  min-height: 100vh;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato';
}

.landing-background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("https://images.squarespace-cdn.com/content/v1/582029da03596e90591221dd/1514448136405-8X2261J9NWM4K2PZ54VJ/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/58Maddox+Photography+nz.jpg?format=2500w");
  background-size: 500%;
  background-repeat: no-repeat;
  background-position: 55% 75%;
}

.landing-background::after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.landing {
  height: 100vh;
  position: relative;
}

.landing .container {
  padding: 0;
  width: 90%;
  margin: auto;
  height: 100%;
}

.landing-start {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
}

.landing-start .logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.landing-start .tapToStart {
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 100%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.landing-register .signup, .landing-register .signin, .landing-login .signup, .landing-login .signin {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
}

.landing-register .logo, .landing-login .logo {
  position: absolute;
  top: 20%;
}

.signupBox, .signinBox {
  position: absolute;
  left: -5.5%;
  bottom: -7.5%;
  height: 60%;
  width: 100vw;
  border-radius: 2em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2em 2em 1em 2em;
}

.signupBox h3, .signinBox h3 {
  color: green;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.signupBox .form-group input, .signinBox .form-group input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: black;
  border-bottom: 1px #707070 solid;
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  border-radius: 0em;
}

.signupBox .form-group input:focus, .signinBox .form-group input:focus {
  outline: none !important;
}

.signupBox .form-group select, .signinBox .form-group select {
  width: 100%;
  border: none;
  background-color: transparent;
  color: black;
  border-bottom: 1px #707070 solid;
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  border-radius: 0em;
}

.signupBox .subtext, .signinBox .subtext {
  margin: -0.5rem 0 2rem 0;
  font-size: 0.9em;
  color: #3d3d3d;
}

.signupBox .subtext span, .signinBox .subtext span {
  color: green;
  font-weight: 700;
}

.signupBox .buttons, .signinBox .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signupBox .btn-back, .signinBox .btn-back {
  border-radius: 5em;
  background-color: #a3a3a3;
  border: none;
  margin-right: 1.5em;
}

.signupBox .btn-back i, .signinBox .btn-back i {
  color: white;
}

.signupBox .btn-next, .signinBox .btn-next {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border-radius: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: green;
  border: none;
}

.signinBox {
  height: 45%;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */




.wrap{
  background-color: rgb(236, 236, 236);
  height: 100vh;
}
.add-post{
  margin: 0% 8% 8% 8% ;
  padding-top: 17%;
}
.add-post-title{
  font-size: 1em;
}

.photo-upload-buttons{
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 45%;
  padding: 0.2em;
  margin-bottom: 5%;
  color: rgb(161, 161, 161);
  text-transform: uppercase;
}
.btn-browse{
  text-transform: lowercase;
  border: 0.14em rgb(161, 161, 161) solid;
  border-style: dashed;
  background-color: rgb(250, 250, 250);
}
.btn-url{
  border: none;
  border-radius: 0%;
  border-bottom: rgb(161, 161, 161) 0.1em solid;
  background-color: rgb(236, 236, 236);
}
.photo-upload-buttons h3{
  margin-top: 2%;
  font-size: 1em;
}

img{
  width: 100%;
  margin-bottom: 1em;
}

label{
  font-weight: 500;
  margin: 0em;
}

.form-control{
  border-radius: 0%;
  color: rgb(161, 161, 161);
  background-color: rgb(250, 250, 250);
  border: none;
}

.btn-home{
  width: 25%;
  background: rgb(250, 250, 250);
  border-radius: 0.2em;
  border: 0.14em rgb(161, 161, 161) solid;
  margin-right: 1em;
}
.btn-submit{
  width: 25%;
  background-color: rgb(69, 139, 63);
  color: white;
  border: rgb(69, 139, 63) 0.14em solid;
}


